/* 
    Here you define only the colors for the darkmode
*/

/* Basic */
body {
    background-color: #131313;
    color: whitesmoke;
}
.subTxt {
    color: lightgray;
}

/* Cards Styles */
.card {
    background-color: rgba(32, 70, 82, 0.8);
}