/* 
    Here you define only the colors for the darkmode
*/

/* Basic */
* {
    color: black;
}

body {
    background-color: rgb(240, 240, 240);
    margin: 0;
}

.subTxt {
    color: gray;
}

/* Header Styles */
header {
    background-color:rgb(109, 22, 160);
}

header h1, header a {
    color: whitesmoke;
}

/* Cards Styles */
.card {
    background-color: rgb(255, 255, 255, 0.8);
}

.card-hh:hover {
    box-shadow: 0 0 14px rgba(17, 204, 0, 0.6);
}
.card-hl:hover {
    box-shadow: 0 0 14px rgba(204, 190, 0, 0.6);
}
.card-b:hover {
    box-shadow: 0 0 14px rgba(0, 112, 204, 0.6);
}
.card-m:hover {
    box-shadow: 0 0 14px rgba(146, 0, 204, 0.6);
}