/* 
    Here you define only the colors for the darkmode
*/

/* Basic */
body {
    background-color: rgb(240, 240, 240);
    color: black;
}

.subTxt {
    color: gray;
}

/* Cards Styles */
.card {
    background-color: rgb(255, 255, 255, 0.8);
}