/* Mobile first */
* {
    font-family: Verdana;
}

p, b {
    font-size: 12pt;
}

.clear {
    clear: both;
}

/* Page Styles */
.mainPageBox {
    clear: both;
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }
}

.devicesHeading {
    clear: both;
}

/* Cards Styles */
.cardsMainBox {
    margin-top: 4rem;
}

.card {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
    border-radius: 12px;
    overflow: hidden;
    float: left;

    img {
        width: 100%;
        height: 200px;
        vertical-align: middle;
        object-fit: cover;
    }

    .card-body {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        overflow: hidden;

        table {
            width: 100%;
            padding-bottom: 1rem;
    
            tr {
                width: 100%;
    
                td {
                    clear: both;
                    justify-content: space-between;
                    display: flex;
                    /* text-align: right; */
    
                    p, b {
                        margin-top: 0.25rem;
                        margin-bottom: 0.25rem;
                        float: left;
                    }
                }
            }
        }
    }

}

@media only screen and (min-width: 600px) {
    /* Tablets */

    /* Page Styles */
    .mainPageBox {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    /* Cards Styles */
    .card {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (min-width: 768px) {
    /* Desktop */

    /* Page Styles */
    p, b {
        font-size: 11pt;
    }

    /* Cards Styles */
    .card {
        width: 45%;
        margin-left: 2.5%;
        margin-right: 2.5%;

        .card-body {
            width: 95%;
            padding-left: 2.5%;
            padding-right: 2.5%;
        }
    }

}

@media only screen and (min-width: 1200px) {
    /* Large Desktop */
    /* Page Styles */
    p, b {
        font-size: 12pt;
    }

    /* Cards Styles */
    .card {
        width: calc(90%/3);
        margin-left: calc(5%/3);
        margin-right: calc(5%/3);
    }

}