/* Mobile first */
* {
    font-family: Verdana;
}

p, b {
    font-size: 12pt;
}

/* Page Styles */
.mainPageBox {
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    h2 {
        text-align: center;
    }
}

/* Cards Styles */
.card {
    width: 80%;
    margin-left: 5%;
    float: left;
    border-radius: 12px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 1rem;

    table {
        width: 100%;
        padding-bottom: 1rem;

        tr {
            width: 100%;

            td {
                clear: both;
                justify-content: space-between;
                display: flex;
                /* text-align: right; */

                p, b {
                    margin-top: 0.25rem;
                    margin-bottom: 0.25rem;
                    float: left;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    /* Tablets */

    /* Page Styles */
    .mainPageBox {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    /* Cards Styles */
    
}

@media only screen and (min-width: 768px) {
    /* Desktop */

    /* Page Styles */
    p, b {
        font-size: 11pt;
    }

    /* Cards Styles */
    .card {
        width: 40%;
        margin-left: 2.5%;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

}

@media only screen and (min-width: 1200px) {
    /* Page Styles */
    p, b {
        font-size: 12pt;
    }

    /* Cards Styles */
    .card {
        width: calc(80%/3);
        margin-left: calc(5%/3);
        padding-left: calc(5%/3);
        padding-right: calc(5%/3);
    }

}