/* Mobile first */
* {
    font-family: Verdana;
}

body {
    margin: 0;
}

p, b {
    font-size: 12pt;
}

.clear {
    clear: both;
}

.fakeBtn:hover {
    cursor: pointer;
}

/* Header Styles */
header {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: sticky;
    overflow: hidden;
    border-radius: 0 0 12px 12px;
}

header * {
    float: left;
}

header p {
    font-size: 12pt;
}

header h1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 20pt;
}

header .headerLinks {
    margin-left: 1rem;
    display: none;
}

header a {
    text-decoration: none;
}

header a:hover {
    text-decoration: underline 1px;
}

header p:hover {
    cursor: pointer;
}

.headerImg {
    float: right;
    height: calc(12pt + 1em);
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.headerImg img {
    height: 100%;
}

.headerLogoImg {
    height: 3rem;
    margin-right: 1rem;
}

/* Footer Styles */
footer {
    margin-top: 2rem;
    position: sticky;
    clear: both;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 12px 12px 0 0;
    text-align: center;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 0.6rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: grab;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing !important;
}

/* Page Styles */
.mainPageBox {
    clear: both;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.mainPageBox h1 {
    text-align: center;
}

.mainPageBox h2 {
    text-align: center;
}

.devicesHeading {
    clear: both;
    padding-top: 2rem;
}

/* Accordion Styles */
  
.accordion {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
    border-radius: 12px;
    overflow: hidden;
}
  
.container {
    margin: 0;
    overflow: hidden;
}

.content small {
    font-style: italic;
}
  
.label {
    padding: 1.5rem 1em;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    /* border-radius: 12px 12px 0 0; */
}
  
.label::before {
    content: '+';
    float: right;
    font-size: 24px;
}
  
.content {
    font-size: 20px;
    text-align: justify;
    width: 95%;
    overflow: hidden;
    transition: height 0.5s;
    height: auto;
    margin: 1rem 2.5%;
    display: none;
}

.accordionbox-active .content {
    display: block !important;
}

hr {
    margin: 0;
}

/* Code Block Styles */
.code-block {
    margin: 1rem;
    padding: 1rem;
    border-radius: 24px;
    overflow-x: auto;
}

.code-block pre {
    border-radius: 24px;
    font-family: courier, monospace;
    padding: 0 1rem;
}

.code-block button {
    border-radius: 24px;
    float: right;
    cursor: pointer;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0;
    font-weight: bold;
}

/* Cards Styles */
.cardsMainBox {
    margin-top: 4rem;
}

.card {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
    border-radius: 12px;
    overflow: hidden;
    float: left;
}

.card img {
    width: 100%;
    height: 200px;
    vertical-align: middle;
    object-fit: cover;
}

.card .card-body {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
}

.card .card-body table {
    width: 100%;
    padding-bottom: 1rem;
}

.card .card-body table tr {
    width: 100%;
}

.card .card-body table tr td {
    clear: both;
    justify-content: space-between;
    display: flex;
}

.card .card-body table tr td p, b {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    float: left;
}

.card-hh:hover h3, p, b {
    cursor: default;
}

.card-hl:hover {
    h3, p, b {
        cursor: default;
    }
}
.card-b:hover {
    h3, p, b {
        cursor: default;
    }
}
.card-m:hover {
    h3, p, b {
        cursor: default;
    }
}

@media only screen and (min-width: 600px) {
    /* Tablets */

    /* Page Styles */
    .mainPageBox {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    /* Header Styles */
    header {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    /* Accordion Styles */
    .accordion {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 1rem;
        border-radius: 12px;
        overflow: hidden;
    }

    /* Cards Styles */
    .card {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (min-width: 768px) {
    /* Desktop */

    /* Page Styles */
    p, b {
        font-size: 11pt;
    }

    /* Header Styles */
    header .headerLinks {
        display: block;
    }

    /* Accordion Styles */
    .accordion {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    /* Cards Styles */
    .card {
        width: 45%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .card .card-body {
        width: 95%;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
}

@media only screen and (min-width: 1200px) {
    /* Large Desktop */
    /* Page Styles */
    p, b {
        font-size: 12pt;
    }

    /* Accordion Styles */
    .accordion {
        width: calc(90% + 4 * (5% / 3));
        margin-left: calc(5%/3);
        margin-right: calc(5%/3);
    }

    /* Cards Styles */
    .card {
        width: calc(90%/3);
        margin-left: calc(5%/3);
        margin-right: calc(5%/3);
    }
}
  