/* Mobile first */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Page Styles */
.mainPageBox {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

/* Cards Styles */


@media only screen and (min-width: 600px) {
    /* Tablets */

    /* Page Styles */
    .mainPageBox {
        margin-left: 5%;
        margin-right: 5%;
        width: 95%;
    }

    /* Cards Styles */

}

@media only screen and (min-width: 768px) {
    /* Desktop */

    /* Page Styles */

    /* Cards Styles */

}